<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content='{{desc}}'>
  <META NAME="ROBOTS" CONTENT='{{robots}}'>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
  <meta name="theme-color" content="#ffffff">


  <title>{{title}} | Apartamentos em Lisboa</title>

  <!-- core CSS -->
  <link href="/semantic/semantic.min.css" rel="stylesheet">

  <!-- Application core CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script>
    window.jQuery || document.write('<script src="/javascripts/jquery.min.js"><\/script>')
  </script>

  <!-- Custom styles for this template -->
  {{#each css}}
  <link rel="stylesheet" href="/stylesheets/{{this}}" /> {{/each}}

</head>

<body class="site">

  <div class="ui vertical sidebar menu left">
    <a href='/' class="header">
      <i class="center aligned huge black home icon" style='display: inline-block; width: 100%'></i>
    </a>
    {{#if isLoggedIn}}
    <div class="ui item">
      <div class="ui fluid dropdown">Como funciona?<i class="dropdown icon"></i>
        <div class="menu">
          <a class='item' href='/como-funciona'>O Modelo de Negócio</a>
          <a class='item' href='/faq'>Perguntas frequentes</a>
        </div>
      </div>
    </div>

    <div class="ui item">
      <div class="ui fluid dropdown">Jurídico<i class="dropdown icon"></i>
        <div class="menu">
          <a class='item' href='/about'>Quem Somos</a>
          <a class='item' href='#'>Contrato de Parceria</a>
          <a class='item' href='/tos'>Termos de Uso</a>
          <a class='item' href='/pp'>Política de Privaciade</a>
        </div>
      </div>
    </div>
    
    

    <script>
      $(document)
        .ready(function () {
          $('.ui.sidebar')
            .sidebar('attach events', '.toc.item');
          $('.ui.dropdown')
            .dropdown();
        });
    </script>

    <div class="ui item">
      <div class="ui fluid dropdown">Apoio ao Parceiro<i class="dropdown icon"></i>
        <div class="menu">
          <a class='item' href='/links'>Links Úteis</a>
          <a class='item' href='#'>Material de Suporte</a>
        </div>
      </div>
    </div>

    <a href='/customers/new' class='item ui black tiny header'>Cadastrar Novo Cliente<a>
    <div  id="broker-menu-button" class="ui gray buttons">
    <a href='/broker'><div class="ui fluid button" ><i class="user icon"></i>Menu do Parceiro</div></a>
    <div class="ui floating dropdown icon button"><i class="dropdown icon"></i>
    <div class="menu">
      <a href='/broker' class='item'>Painel de Controle</a>
      <a href='/customers/new' class='item'>Cadastrar Novo Cliente</a>
      <a href='/u/logout' class='item'>Sair</a>
    </div>
  </div>
  </div>
  </div>
  {{else}} {{!--
  <div class="item">
    <a href='/login' class='ui fluid button'>Entrar</a>
  </div>
  <div class="item">
    <a href='/register' class='ui fluid positive button'>Registrar-se</a>
  </div>
  </div>--}}
  <div class="item">
    <a href='/login' class='ui fluid button positive'>Entrar</a>
  </div>
  </div>
  {{/if}}

  </div>

  <div class="ui fixed menu">
    <div class="ui container">
      <a class="toc item mobile only"><i class="sidebar big icon"></i></a>
      <script>
        $(document)
          .ready(function () {
            $('.ui.sidebar')
              .sidebar('attach events', '.toc.item');
            $('.ui.dropdown')
              .dropdown()
          });
      </script>
      <a href='/' class='header item'><img src='/images/aplisboa.png' alt='logo do apartamentosemlisboa.com' style='width: 12em'></a>
      {{#if isLoggedIn}}
      <div class="ui item mobile hidden">
        <div class="ui fluid dropdown">Jurídico<i class="dropdown icon"></i>
          <div class="menu">
            <a class='item' href='/tos'>Termos de Uso</a>
            <a class='item' href='/pp'>Política de Privaciade</a>
          </div>
        </div>
      </div>
      
      <div class="ui item mobile hidden">
        <div class="ui fluid dropdown ">Como funciona?<i class="dropdown icon"></i>
          <div class="menu">
            <a class='item' href='/como-funciona'>O Modelo de Negócio</a>
            <a class='item' href='/faq'>Perguntas frequentes</a>
          </div>
        </div>
      </div>

      <a href='/about' class='item ui black tiny header mobile hidden'>Quem Somos</a>
      
      <div class="ui item mobile hidden">
        <div class="ui fluid dropdown">Apoio ao Parceiro<i class="dropdown icon"></i>
          <div class="menu">
            <a class='item' href='/links'>Links Úteis</a>
            <a class='item' href='#'>Material de Suporte</a>
          </div>
        </div>
      </div>
      <a href='/customers/new' class='item ui black tiny header mobile hidden'>Cadastrar Novo Cliente</a>
      <div class="right item">
        <script>
          $(document)
            .ready(function () {
              $('.ui.sidebar')
                .sidebar('attach events', '.toc.item');
              $('.ui.dropdown')
                .dropdown();
            });
        </script>        
        <a href='#' class='item ui black tiny header'><a>
        
        <div class="ui gray buttons monitor only">
          <a href='/broker'><div class="ui button"><i class="user icon"></i>Menu do Parceiro</div></a>
      <div class="ui floating dropdown icon button"><i class="dropdown icon"></i>
        <div class="menu">
          <a href='/broker' class='item'>Painel de Controle</a>
          <a href='/customers/new' class='item'>Cadastrar Novo Cliente</a>
          <a href='/u/logout' class='item'>Sair</a>
        </div>
      </div>
    </div>
  </div>
  {{else}} {{!--
  <div class="right item monitor only">
    <div class="ui buttons">
      <a href='/login' class='ui button'>Entrar</a>
      <div class="or" data-text="ou"></div>
      <a href='/register' class='ui positive button'>Registrar-se</a>
    </div>
  </div>--}}
  <div class="right item monitor only">
    <div class="ui buttons">
      <a href='/login' class='ui button positive'>Entrar</a>
    </div>
  </div>
  {{/if}}
  </div>
  </div>

  <div id='content' class='ui container'>
    {{> flashMessages }} {{{body}}}
  </div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>

  <script src="/semantic/semantic.min.js"></script>


  <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>
  <script>
    $(document)
      .ready(function () {
        $('.ui.sidebar')
          .sidebar('attach events', '.toc.item');
        $('.ui.dropdown')
          .dropdown()
      });
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-98310262-1', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>