<div id="pageHeader">Default header</div>
<div id="pageFooter">Default footer</div>
<h1>ACORDO DE CONSULTORIA IMOBILIÁRIA</h1>

{{email}}
<p>ENTRE: {{full_name}}, CPF {{cpf}}, RG {{id-doc}}, residente e domiciliado na {{address}}, Bairro {{bairro}}, {{zip}}, {{city}}, {{state}}, {{country}}, adiante designada por <strong>PRIMEIRA OUTORGANTE</strong> e PARTILHARADICAL – MEDIAÇÃO IMOBILIÁRIA LDA, com sede em Lisboa, Portugal, na Rua Cidade de Bissau, Lote 49, Loja 49 A e B, com o nº de identificação de pessoa colectiva 510372180, neste ato representada pelo seus Gerentes Nuno Miguel Gonçalves Ribeiro Ricardo, português, e Paula Cristina Barbosa Pinto Fernandes, portuguesa, ambos com domicílio profissional na sede da sua representada, adiante designada por  AGÊNCIA.</p>

<p>Considerando que:</p>

A) A PRIMEIRA OUTORGANTE é uma sociedade que, pelo relacionamento de seu Sócio Administrador, acima nomeado, detém ampla relação comercial com investidores, pessoas físicas e jurídicas, bem como clientes diversos no mercado imobiliário nacional e internacional

B) A AGÊNCIA é uma Consultora Portuguesa, com um portefólio muito relevante na área de investimentos imobiliários, bem como no acompanhamento e desenvolvimento de investimentos internacionais.

C) A AGÊNCIA está interessada em celebrar este acordo com a PRIMEIRA OUTORGANTE, com o objetivo de prestar assessoria aos seus clientes investidores.

D) A PRIMEIRA OUTORGANTE tem o máximo interesse em celebrar este acordo com a AGÊNCIA, objetivando maximizar contato e relacionamento com uma empresa internacional  do porte da AGÊNCIA.

Dessa forma, o presente Acordo é efetuado livremente e de boa-fé, reciprocamente aceito pelas partes, obrigando herdeiros e sucessores, e reger-se-á pelas cláusulas e condições seguintes:

Cláusula 1
(Objeto)

1 – Com este acordo,a PRIMEIRA OUTORGANTE irá prestar serviços de consultoria à AGÊNCIA, com o objetivo de angariar potenciais clientes investidores para compra de propriedades, cuja venda lhe está atribuída pelos respetivos proprietários. 

1.1 – A PRIMEIRA OUTORGANTE indicará seus potenciais clientes, de forma individualizada, à AGÊNCIA, sempre de forma expressa, através de e-mail ou de carta.
1.2 – A AGÊNCIA, sempre de forma expressa, confirmará à PRIMEIRA OUTORGANTE, a indicação de cada cliente apresentado.

1.2 – No âmbito dos seus serviços, a PRIMEIRA OUTORGANTE ficará incumbida de divulgar as propriedades que a AGÊNCIA tem para vender e angariar os potenciais investidores para a AGÊNCIA.

1.2.1 – A AGÊNCIA enviará, quinzenalmente, uma relação de todos imóveis que possuir em seu portefólio, para a PRIMEIRA OUTORGANTE, abrangendo todo o território português, conforme definido no Item 1.3, abaixo.

1.3- A AGÊNCIA deverá apresentar à PRIMEIRA OUTORGANTE os imóveis, através da sua identificação completa na matriz, no registo predial, Câmaras Municipais ou outras entidades onde seja obrigatório o seu registo, com junção de toda a documentação, incluindo a identificação de todos os ônus ou encargos que incidam sobre as propriedades, a partir do momento que o vendedor/proprietário tenha disponibilizado a documentação mencionada.

1.4- A AGÊNCIA, por si ou através dos consultores, informará regularmente a PRIMEIRA OUTORGANTE dos desenvolvimentos nas negociações, como consequência do acompanhamento que esta fará durante o processo de visita aos imóveis, assim como da data de assinatura de contratos de promessa de compra e venda e escrituras de compra e venda, para que a PRIMEIRA OUTORGANTE possa estar presente, devendo, ainda, facultar-lhe fotocópia desses documentos após a sua outorga.

1.5 – Quaisquer negócios que decorram direta ou indiretamente dos serviços prestados pela PRIMEIRA OUTORGANTE à AGÊNCIA são abrangidos pelo presente acordo.

Cláusula 2
(Remuneração)

2.1 – Os serviços prestados pela PRIMEIRA OUTORGANTE à AGÊNCIA, no âmbito do presente acordo, serão remunerados apenas no caso de os clientes angariados diretamente, ou apresentados por terceiros, vindos do mesmo canal da PRIMEIRA OUTORGANTE,  realizarem efetivamente investimentos imobiliários através da AGÊNCIA, com as  propriedades apresentadas.

2.2 -Pelos serviços que prestará no âmbito deste acordo, a AGÊNCIA pagará à PRIMEIRA OUTORGANTE uma comissão de 2,5% (dois e meio por cento), sobre o valor de venda pelo qual o imóvel seja efectivamente vendido, a partir do momento que o vendedor/proprietário tenha liquidado o pagamento da comissão total do negócio à AGÊNCIA.

2.2.1 – Se o pagamento ocorrer de forma parcelada, a AGÊNCIA pagará à PRIMEIRA OUTORGANTE, também, de forma parcelada, nos exatos termos dos seus recebimentos.

2.3 - O pagamento da comissão referida no Item 2.2, acima, será devido, após o pagamento da comissão efetuada pelo vendedor/proprietário do imóvel à AGÊNCIA pelos seus serviços como agência imobiliária e, após, a emissão da respetiva fatura.

2.4- Mesmo no caso da compra e venda não se chegar a concretizar, por qualquer motivo estranho às partes no presente acordo, se tiver sido liquidada qualquer quantia a título de sinal/princípio de pagamento e a AGÊNCIA cobrar e mantiver a sua comissão nos termos da Lei 15/2013, será igualmente devida a comissão à PRIMEIRA OUTORGANTE, proporcional ao valor de comissão global efetivamente recebida.

2.5 – Fica acordado entre as partes que, se por qualquer razão a comissão geral sobre a venda, recebida pela AGÊNCIA do vendedor/proprietário, tiver que ser reduzida com base num acordo entre as partes, estas serão pagas na devida proporção.


Cláusula 3
 (Confidencialidade)

As outorgantes comprometem-se amantersigilototal e a não divulgar a terceiros, por qualquer forma epor qualquer meio, os termos desteacordoe de quaisquerinformações relacionadasou pertencentesàs outras partes intervenientes,obtidasno âmbitodeste acordo, incluindo, mas nãoapenas, informações sobreatividades empresariais, know-how, informações financeiras, informações dos clientes, bancos de dados, operações, estimativas de vendas, planos de negócios, os resultadosde desempenho, atividades de negóciospresentes e futurosde qualquerparte, sob pena de responderem pelos prejuízos causados.

Cláusula 4
(Incumprimento)

O incumprimento do presente acordo, por parte de qualquer um dos outorgantes, acarretará para o outorgante culpado a obrigação de indenizar o outro pelos prejuízos que lhe advenham.

Cláusula 5
 (Duração)

5.1 - O presente acordo é válido por um período inicial de 01(um) ano e será automaticamente renovado por períodos de 12 (doze) meses.

5.2 – As obrigações emergentes do presente Acordo, designadamente a obrigação da AGÊNCIA de liquidar a comissão fixada, manter-se-ão em vigor, em relação aos clientes angariados pela PRIMEIRA OUTORGANTE, durante a sua vigência e mesmo após o seu termo, por clientes que tenham adquirido propriedade, na forma estabelecida no presente contrato. 


Cláusula 6
(Fôro)

Para qualquer litígio emergente do presente acordo, derivado da sua interpretação ou execução, será competente, com expressa renúncia a qualquer outro, o Foro da Comarca de Lisboa, Portugal. 

Este contrato é celebrado e assinado em duplicado, com duas testemunhas, e cada uma das partes deve manter um original devidamente assinado.


Lisboa, Portugal, {{date}}.


PRIMEIRA OUTORGANTE	
{{full_name}}



AGÊNCIA
PARTILHARADICAL – MEDIAÇÃO IMOBILIÁRIA LDA.
