<style type="text/css">
    .ui .form {
      max-width: 600px;
      margin: auto;
    }
</style>


  <form id="form1" action="/customers" method="post" class="ui form">
    <h2 class="ui small header">Formulário de Indicação de Novo Cliente</h2>

    <div class="field required">
      <label>C.P.F.</label>
      <input id="cpf" type="text" name="cpf" placeholder="123.456.789-01" value='{{customer.cpf}}'>
    </div>

    <div class="field required">
      <label>Nome Completo</label>
      <input type="text" name="full_name" placeholder="Nome Completo" value='{{customer.full_name}}'>
    </div>
    
    <div class="field">
      <label>Conjuge</label>
      <input type="text" name="spouse" placeholder="Nome do Conjuge" value='{{customer.spouse}}'>
    </div>

    <div class="field">
      <label>Telefone Residencial (com DDD)</label>
      <input type="number" name="phone_number1" placeholder="(11) 5012-3456" value='{{customer.phone_number1}}'>
    </div>

    <div class="field required">
      <label>Telefone Celular (com DDD)</label>
      <input type="number" name="phone_number2" placeholder="(11) 91234-5678" value='{{customer.phone_number2}}'>
    </div>
    
    <div class="field required">
      <label>E-mail Pessoal</label>
      <input type="email" name="email1" placeholder="E-Mail" value='{{customer.email1}}'>
    </div>

    <div class="field">
      <label>E-mail Alternativo</label>
      <input type="email" name="email2" placeholder="E-Mail" value='{{customer.email2}}'>
    </div>

    <div class="field">
      <label>Skype</label>
      <input type="text" name="skype" placeholder="Usuario no Skype" value='{{customer.skype}}'>
    </div>

    <div class="field">
      <label>Link da página do perfil no Facebook</label>
      <input type="url" name="facebook_url" placeholder="Cole o link aqui..." value='{{customer.facebook_url}}'>
    </div>

    <div class="field">
      <label>Endereço completo (Rua, número e complemento)</label>
      <input type="text" name="address.street" placeholder="Avenida Brasil, 100 Ap.1001" value='{{customer.address.street}}'>
    </div>

    <div class="field">
      <label>Cidade</label>
      <input type="text" name="address.city" placeholder="Cidade" value='{{customer.address.street}}'>
    </div>

    <div class="field">
      <label>Estado</label>
      <input type="text" name="address.state" placeholder="Sigla do Estado" value='{{customer.address.state}}'>
    </div>

    <div class="field">
      <label>CEP</label>
      <input type="text" name="address.ziṕ" placeholder="01234-000" value='{{customer.address.zip}}'>
    </div>

    <div class="field">
      <label>País</label>
      <input type="text" name="address.country" placeholder="Brasil" value='{{customer.address.country}}'>
    </div>

    <div class="field">
      <label>Nacionalidade</label>
      <input type="text" name="nationality1" placeholder="" value='{{customer.nationality1}}'>
    </div>

    <div class="field">
      <label>Nacionalidade</label>
      <input type="text" name="nationality2" placeholder="" value='{{customer.nationality2}}'>
    </div>  

    <div class="field">
      <label>Horário para Contato</label>
      <input type="text" name="time_to_contact" placeholder="9:00 às 17:00h" value='{{customer.time_to_contact}}'>
    </div>

    <div class="field">
      <label>Área de trabalho / Profissão</label>
      <input type="text" name="work_field" placeholder="Corretor, Engenheiro...." value='{{customer.work_field}}'>
    </div>

    <div class="field">
      <label>Empresa onde trabalha</label>
      <input type="text" name="company" placeholder="ABC Ltda." value='{{customer.company}}'>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="government_employee" value='{{customer.government_employee}}'>
        <label>Funcionário Público?</label>
      </div>
    </div>

    <div class="field">
      <label>Faixa de valor do imóvel</label>
      <input type="text" name="property_value" placeholder="EUR 400.000" value='{{customer.property_value}}'>
    </div>

    <div class="field">
      <label>Interesses</label>
      <input type="text" name="interests" placeholder="Investimentos, Futebol, Viagens..." value='{{customer.interests}}'>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="golden_visa" value='{{customer.golden_visa}}'>
        <label>Este cliente tem interesse no Golden Visa</label>
      </div>
    </div>

    <div class="field">
      <label>Cidades de interesse</label>
      <input type="text" name="city_of_interest" placeholder="Lisboa, Porto, Algarve, Setúbal ..." value='{{customer.city_of_interest}}'>
    </div>

    <div class="field">
      <label>Perfil de Investimento</label>
      <input type="text" name="investment_profile" placeholder="Moradia pŕopria, locação turística, para reforma, investimento longo prazo, etc." value='{{customer.investment_profile}}'>
    </div>

    <div class="field">
      <label>Tipo de imóvel que tem interesse</label>
      <input type="text" name="property_type" placeholder="Apartamento, Casas, Hotéis, Terrenos ..." value='{{customer.property_type}}'>
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" name="financing_needed" value='{{customer.financing_needed}}'>
        <label>Precisa de financiamento?</label>
      </div>      
    </div>

    <div class="field">
      <label>Valor disponível no ato ("Entrada") em Euros (EUR)</label>
      <input type="number" name="amount_available" placeholder="Valor" value='{{customer.amount_available}}'>
    </div>
    
    <div class="field required">
      <div class="ui checkbox">
        <input type="checkbox" name="customer_informed" value='{{customer.customer_informed}}'>
        <label>Seu cliente foi informado que está indicando atendimento para a Remax ExpoGoup?</label>
      </div>
      </br>
      <p style='margin-top: 10px; color: gray'>Caso o cliente não tenha interesse em investir em Portugal e essa conduta for identificada como recorrente, seu cadastro na plataforma pode ser cancelado. O consultor parceiro é responsável pela prospecção e indicação de leads qualificados como interessados em Portugal.</p>
    </div>

    <div class="field required">
      <div class="ui checkbox">
        <input type="checkbox" name="contract" value='{{customer.contract}}'>
        <label>Concordo com o <a href='/contract' target="_blank">contrato de parceria</a> do ExpoGroup</label>
      </div>      
    </div>

    <button class="ui primary button" type="submit">Finalizar</button>
    
  </form>


<script src="/javascripts/jquery.maskedinput.js" type="text/javascript"></script>
<script>
        $(document).ready(function(){
        $("#cpf").mask("***.***.***-**");
});
</script>

<script>
  $(document)
  .ready(function () {
    $('form').form({
      email: {
        identifier: 'email1',
        rules: [{
          type: 'empty',
          prompt: 'Insira um e-mail válido'
        }]
      },
      full_name: {
        identifier: 'full_name',
        rules: [{
          type: 'empty',
          prompt: 'Insira seu nome completo'
        }]
      },
      phone_number2: {
        identifier: 'phone_number2',
        rules: [{
          type: 'empty',
          prompt: 'Telefone Celular é obrigatório'
        }]
      },
      cpf: {
        identifier: 'cpf',
        rules: [{
          type: 'empty',
          prompt: 'CPF composto por 11 números é obrigatório.'
        }]
      },
      customer_informed: {
        identifier: 'customer_informed',
        rules: [{
          type: 'checked',
          prompt: 'É necessário ter informado o seu cliente.'
        }]
      },
      contract: {
        identifier: 'contract',
        rules: [{
          type: 'checked',
          prompt: 'É necessário aceitar os termos da parceria com o Expo Group.'
        }]
      }
    }
    , {
      inline: true,
      onFailure: function () {
        var $container = $("html,body");
        var $scrollTo = $('.prompt');
        $container.animate({scrollTop: $scrollTo.offset().top - $container.offset().top -200, scrollLeft: 0});
        return false;
      },
      onSuccess: function () {
        {{!--alert('success');--}}
      }
    }
    );
  }) 
</script>