<style type="text/css">
  .ui .form {
    max-width: 600px;
    margin: auto;
  }
</style>

<div class='ui form'>

  <h2 class="ui blue header">{{customer.full_name}}</h2>

  <div class="ui list">

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">C.P.F.</div>
        <div class="description">{{customer.cpf}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Conjuge</div>
        <div class="description">{{customer.spouse}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Telefone Residencial</div>
        <div class="description">{{customer.phone_number1}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Telefone Celular </div>
        <div class="description">{{customer.phone_number2}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">E-mail</div>
        <div class="description">{{customer.email1}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">E-mail Alternativo</div>
        <div class="description">{{customer.email2}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Skype</div>
        <div class="description">{{customer.skype}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Facebook</div>
        <div class="description">{{customer.facebook_url}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Endereço completo</div>
        <div class="description">{{customer.address.street}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Cidade</div>
        <div class="description">{{customer.address.city}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Estado</div>
        <div class="description">{{customer.address.state}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">CEP</div>
        <div class="description">{{customer.address.zip}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">País</div>
        <div class="description">{{ustomer.address.country}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Nacionalidade</div>
        <div class="description">{{customer.nationality1}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Nacionalidade</div>
        <div class="description">{{customer.nationality2}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Horário para Contato</div>
        <div class="description">{{customer.time_to_contact}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Área de trabalho / Profissão</div>
        <div class="description">{{customer.work_field}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Empresa onde trabalha</div>
        <div class="description">{{customer.company}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Funcionário Público?</div>
        <div class="description">{{customer.government_employee}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Faixa de valor do imóvel</div>
        <div class="description">{{customer.property_value}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Interesses</div>
        <div class="description">{{customer.interests}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Interesse no "Golden Visa"</div>
        <div class="description">{{customer.golden_visa}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Cidades de interesse</div>
        <div class="description">{{customer.city_of_interest}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Perfil de Investimento</div>
        <div class="description">{{customer.investment_profile}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Tipo de imóvel que tem interesse</div>
        <div class="description">{{customer.property_type}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Precisa de financiamento?</div>
        <div class="description">{{customer.financing_needed}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Valor disponível no ato ("Entrada") em Reais (R$)</div>
        <div class="description">{{customer.amount_available}}</div>
      </div>
    </a>

    <a class="item">
      <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Cliente Informado</div>
        <div class="description">{{customer.customer_informed}}</div>
      </div>
    </a>



  </div>

 <p>Se precisar alterar alguma informação, entre em contato por e-mail: <strong>info@apartamentosemlisboa.com</strong> </p>
</div>